<%= form_with(model: ride_later_request, local: true) do |form| %>
  <% if ride_later_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ride_later_request.errors.count, "error") %> prohibited this ride_later_request from being saved:</h2>

      <ul>
      <% ride_later_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name, id: :ride_later_request_customer_name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :ride_later_request_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
