<p id="notice"><%= notice %></p>

<h1>Ride Later Requests</h1>

<table>
  <thead>
    <tr>
      <th>Customer name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ride_later_requests.each do |ride_later_request| %>
      <tr>
        <td><%= ride_later_request.customer_name %></td>
        <td><%= ride_later_request.status %></td>
        <td><%= link_to 'Show', ride_later_request %></td>
        <td><%= link_to 'Edit', edit_ride_later_request_path(ride_later_request) %></td>
        <td><%= link_to 'Destroy', ride_later_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ride Later Request', new_ride_later_request_path %>
