<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name:</strong>
  <%= @ride_later_request.customer_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ride_later_request.status %>
</p>

<%= link_to 'Edit', edit_ride_later_request_path(@ride_later_request) %> |
<%= link_to 'Back', ride_later_requests_path %>
